* {
    box-sizing: border-box;
  }
  body {
    margin: 0%;
    padding: 0%;
  }
  .left-menu {
    position: fixed;
    width: 10%;
    border: 1px solid red;
    top: 0%;
    bottom: 0%;
    left: 0%;
  }
  .right-menu {
    position: fixed;
    width: 90%;
    border: 1px solid green;
    top: 0%;
    bottom: 0%;
    right: 0%;
  }
.left-menu div{
    height: 94px;
    border: 1px solid black;
}
#icon{
    display: flex;
}
#icon #div{
    width: 70px;
    height: 30px;
    border: 1px solid red;
}
.text hr{
    width: 800px;
}
.resume{
    margin-top: 40px;
    margin-left: 100px;
}