* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: Helvetica, sans-serif;
}
.container{
  display: flex;
}
.left-menu{
  flex: 5%;
  border: solid;
  display: flex;
  flex-direction: column;
  background-color: #181818;
}
.left-menu div {
  text-align: center;
  border-bottom: 1px solid #ffffff;
  padding: 32px 0px;
}
.left-menu div a{
  color: #ffffff;
 
}
.right-menu{
  flex: 95%;
  border:  solid;
  height: 300px;
}
.video{
  opacity: 0.90;
}
@media only screen and (max-width: 600px){
  .container{
    display: flex;
    flex-direction: column;
  }
  .left-menu{
    flex: 100%;
    flex-direction: row;
  }
  .right-menu{
    flex: 100%;
  }
}