* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  padding: 0%;
}
.container {
  display: flex;
}
.left-menu {
  position: fixed;
  width: 10%;
  border: 1px solid red;
  top: 0%;
  bottom: 0%;
  left: 0%;
}
.right-menu {
  position: fixed;
  width: 90%;
  border: 1px solid green;
  top: 0%;
  bottom: 0%;
  right: 0%;
}
.left-menu div{
    height: 94px;
    border: 1px solid black;
}
.right-menu #me{
    width: 400px;
    height:45px ;
    border: 1px solid red;
}
.right-menu #sub-text{
    width: 550px;
    height: 60px;
    border: 1px solid blue;
}
.right-menu #loop{
    width: 550px;
    height: 47px;
    border: 1px solid black;
}
.right-menu #social{
    width: 550px;
    height: 47px;
    border: 1px solid royalblue; 
}
.right-menu div{
    margin-bottom: 20px;
}
.right-menu #contant{
    margin-top: 230px;
    margin-left: 150px;
}
@media screen and (min-width: 600px) {
    .container {
      display: flex;
      flex-direction: column;
    }
  }
